<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PalworldServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PalworldServerManager.Properties.Settings>
            <setting name="Seleceted_Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_rconIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Saved_rconPort" serializeAs="String">
                <value>25575</value>
            </setting>
            <setting name="Saved_rconPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_serverName" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_serverDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_serverPlayerMaxNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_adminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_serverPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_publicPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_publicIP" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_rconEnabled" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_difficulty" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_dayTimeSpeedRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_nightTimeSpeedRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_expRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palCaptureRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palSpawnNumRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palDamageRateAttack" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palDamageRateDefense" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_playerDamageRateAttack" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_playerDamageRateDefense" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_playerStomachDecreaseRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_playerStaminaDecreaseRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_playerAutoHpRegeneRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_playerAutoHpRegeneRateInSleep" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palStomachDecreaseRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palStaminaDecreaseRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palAutoHpRegeneRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palAutoHpRegeneRateInSleep" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_buildObjectDamageRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_buildObjectDeteriorationDamageRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_collectionDropRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_collectionObjectHpRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_collectionObjectRespawnSpeedRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enemyDropItemRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_deathPenalty" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enablePlayerToPlayerDamage" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enableFriendlyFire" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enableInvaderEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_activeUNKO" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enableAimAssistPad" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enableAimAssistKeyboard" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_dropItemMaxNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_dropItemMaxNum_UNKO" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_baseCampMaxNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_baseCampWorkerMaxNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_dropItemAliveMaxHours" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_autoResetGuildNoOnlinePlayers" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_autoResetGuildTimeNoOnlinePlayers" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_guildPlayerMaxNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_palEggDefaultHatchingTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_workSpeedRate" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_isMultiplay" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_isPvP" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_canPickupOtherGuildDeathPenaltyDrop" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enableNonLoginPenalty" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enableFastTravel" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_isStartLocationSelectByMap" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_existPlayerAfterLogout" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_enableDefenseOtherGuildPlayer" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_coopPlayerMaxNum" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_region" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_useAuth" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_banListURL" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_backupInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_maxBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_backupTo" serializeAs="String">
                <value />
            </setting>
        </PalworldServerManager.Properties.Settings>
    </userSettings>
</configuration>