<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PalworldServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PalworldServerManager.Properties.Settings>
            <setting name="Seleceted_Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_rconIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Saved_rconPort" serializeAs="String">
                <value>25575</value>
            </setting>
            <setting name="Saved_rconPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Saved_rconAutpUpdatePlayerList" serializeAs="String">
                <value>False</value>
            </setting>
        </PalworldServerManager.Properties.Settings>
    </userSettings>
</configuration>